$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png') !default;

// Main Link Colors
$link-color: #E1C6AA;
$link-color-hover: #E1C6AA;
$link-color-visited: #E1C6AA;//adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: #E1C6AA;//adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #0E0907 !default;
$page-bg: #0E0907 !default;
$article-border: #0E0907 !default;

$header-bg: #0E0907 !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: #ffffff !default;
$subtitle-color: #8E8E8E !default;

$text-color: #fff !default;
$text-color-light: #fff !default;
$type-border: #fff !default;

/* Navigation */
$nav-bg: #0E0907 !default;
$nav-bg-front: #0E0907;
$nav-bg-back: #0E0907;
$nav-color: #fff;
$nav-color-hover: #fff;
$nav-placeholder: #fff;
$nav-border: #0E0907;
$nav-border-top: #0E0907;
$nav-border-bottom: #0E0907;
$nav-border-left: #0E0907;
$nav-border-right: #0E0907;

/* Sidebar colors */
$sidebar-bg: #0E0907 !default;
$sidebar-link-color: $text-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

$footer-color: #fff !default;
$footer-bg: #0e0907 !default;
$footer-bg-front: #0e0907 !default;
$footer-bg-back: #0e0907 !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 0) !default;
$footer-border-bottom: darken($footer-bg, 0) !default;
$footer-link-color: #fff !default;
$footer-link-color-hover: #fff !default;
$page-border-bottom: darken($footer-bg, 5) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg image-url('line-tile.png') top left;
}
body {
  font-family: "Source Code Pro";
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg $noise-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}
