// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	> header {
		text-align: center;
		letter-spacing: 5px;
		height: 250px;
		padding: 0;
		
		background-image: url("/images/banner.jpg" );
		background-size: 100% 100%, cover;
		
		hgroup {
			position: relative;
			height: 100%;
		}
		
		.banner {
			h1 {
				font-size: 24px;
				text-transform: uppercase;
//				margin: 10px 0;
				font-weight: 300;
				text-shadow: 0px 0px 10px #000;
				margin-top: 110px;
				a {
					color: #e7d0ba;	
				}
			}	
			h2 {
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
	
	article header {
		margin: 0;
	}
	
	nav.nav-bar {
		padding: 0 20px;
		fieldset.mobile-nav {
			width: 100%;
		}
		
		.main-navigation {
			a {
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
	
	.content-wrapper {
		max-width: 960px;
		margin: auto;
	}
	
	.main-navigation {
		padding: 0;
		li.nav-item {
			padding: 0;
			a {
				padding: 20px 0;
			}
		}
	}
}

p {
	line-height: 20px;
	font-size: 13px;
	font-weight: 300;
}

#main {
	padding: 0 20px;
	h1.entry-title {
		text-transform: uppercase;
		font-weight: 300;
		color: #e7d0ba;	
		margin: 0;
	}
	
	p {
		margin-bottom: 0px;
		margin-top: 20px;
		
		&.meta {
			margin-top: 0;
			color: #aaa;
		}
	}
	
	li {
		line-height: 20px;
	}
	ol li {
		margin-left: 30px;
	}
	
	#content .blog-index article {
		padding: 30px 0;
		border-bottom: 1px solid #333;
	}
	
	article header {
		padding-top: 0;
	}
}

.footer-categories {
	font-size: 12px;
	text-align: center;
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		&:hover {
			color:  #e7d0ba;
		}
	}
	padding: 20px 0 40px 0;
}